@media screen and (max-width: 850px) {
    .container {
        min-width: 300px;

    }
}

@media screen and (max-width: 350px) {
    .container {
        min-width: 100px;
    }

    .table {
        background-color: red;
    }
}

.container {
    background-color: lightcyan;
    width: auto;
    text-align: center;
    overflow-x: auto;
    margin: 10px 10px;
    table-layout: fixed;
    color: indigo;
}

.table {
    border: dashed 3px purple;
    border-collapse: collapse;
    border-spacing: 28px;
}

.table th, td {
    vertical-align: middle;
    border: solid 3px rebeccapurple;
    height: 50px;
    border-bottom: 1mm dotted darkblue;
}

.tableHead tr {
    background-color: mediumspringgreen;
}

.tableHead th {
    color: black;
    font-size: 28px;
    font-family: Sylfaen, fantasy;
    padding: 0 6px;
}

tr:nth-child(even) {
    background-color: lightsteelblue;
}

.user {
    background-color: chartreuse;
}

.user-roles {
    background-color: red;
}

.roles-to-manage {
    background-color: purple;
}

.disable > button, .enable > button {
    border-radius: 16px;
    padding: 8px 18px;
    font-size: 18px;
    transition-duration: 0.4s;
}

.disable > button, .enable > button {
    color: white;
}

.disable > button {
    background-color: red;
}

.enable > button {
    background-color: green;
}

.disable > button:hover,
.enable > button:hover {
    cursor: pointer;
    font-weight: 800;
    border: solid 2px black;
    box-shadow: 1px 1px #888888;
}

.role > button:hover {
    cursor: pointer;
    background-color: lightgreen;
}

.role > button {
    margin: 2px 1px 2px 1px;
}

.table tbody tr.tableRow:hover td {
    font-weight: 700;
    background-color: lawngreen;
    color: darkblue;

}

.table tbody tr.tableRow td{
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color: black;
    font-weight: 500;
}
