.container {
    text-align: center;
    font-family: "JetBrains Mono", serif;
    font-size: 24px;
}

.container form h1 {
    font-weight: 700;
    font-size: 60px;
}

.container form {
    margin:10%  auto;
    text-align:center;
}

.container form div {
    margin: 5px 0;
}


.container input {
    background-color: bisque;
    border: 2px purple solid;
    border-radius: 8px;
}

.container input:focus {
    border: 4px solid deeppink;
}

.container input:hover {
    box-shadow: 3px 3px magenta;
    background-color: lightcoral;
    box-sizing: content-box;
}


/*.container *:after {*/
/*    box-sizing: border-box;*/
/*}*/

.container .error {
    font-weight: bold;
    margin-top: 10px;
    font-size: 22px;
}

.container button {
    margin: 0 22% 0 22%;
    color: mediumvioletred;
}

.container button:hover {
    box-shadow: 4px 4px #555555;
    background-color: #888888;
    user-focus-pointer: yes;
}
