.body {
    text-align: center;
}

.form-containers{
margin: 15px;
}

.chosenCategory h3{
    color: black;
}

.category-error {
    color: red;
    font-weight: 600;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
