.picWrapper {
    background-image: url("https://i.pinimg.com/736x/b7/56/fe/b756fe9a976079410a33df02340463cd.jpg");
    opacity: 0.45;
    background-size: 14%;
    /*background-attachment: inherit;*/
    background-position: right;
}

@media (min-width: 300px) and (max-width: 480px) {
    .footer span {
        color: black;
        position: inherit;
    }

    .picWrapper {
        background-size: 100%;
    }
}

@media (min-width: 460px) {
    .picWrapper {
        background-size: 40%;
    }
}

/*@media (min-width: 1281px) {*/
/*    .footer {*/
/*        position: relative;*/
/*    }*/
/*}*/


.footer {
    flex: 0 0 50px;
    margin-top: auto;
    text-align: center;
    /*color: #1d2124;*/
    font-size: 30px;
    font-weight: 800;
    color: red;
}

.footer h6 {
    padding: 10px 0;
}

.footer span em {
    opacity: 1;
    cursor: pointer;
    text-decoration: underline;
    font-size: 26px;
    color: snow;

}

.footer h6 {
    font-size: 25px;
    font-weight: 800;
    color: #96147b;
    line-height: 0.6;
}


.footer em:hover {
    text-shadow: 1px 1px 1px #555;
    font-size: 27px;
}

