.error {
    font-weight: 700;
    color: white;
    font-size: 24px;
    font-family: Bahnschrift, serif;
    border: solid 2px black;
    background-color: #e65100;
    padding: 6px;
}

.mdb-alert {
    display: inline-block;
}